<body class="text-center">
  <!-- <form class="form-signin"> -->
    <img class="mb-4" src="../../../assets/images/ILCA.png" alt="" width="25%" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="allsign">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email"name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus >
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/admin">
        Sign in
    </button>
 
  <!-- </form> -->
  <p>
    New to VeriSail? <a routerLink="/create">Click Here!</a>
  </p>
</body>
