<body class="text-center">
  <!-- <form class="form-signin"> -->
    <img class="mb-4" src="../../../assets/images/ILCA.png" alt="" width="25%" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="allsign">
        <form [formGroup]="myForm">
          <hr>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <mat-form-field class="fullwidth" appearance="outline">
                  <mat-label>Email Address</mat-label>
                  <input matInput placeholder="example@example.com" formControlName="email">
        
                   <mat-error *ngIf="email.touched">
                                    Required field
                  </mat-error> 
                  
                </mat-form-field>
                <mat-form-field class="fullwidth" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="" formControlName="password">
        
                  <mat-error *ngIf="password.touched">
                                                        Required field
                                                    </mat-error>
                </mat-form-field>
                </div>
                </div>
              </div>
              </form>
      <div class="checkbox mb-3">
        <!-- <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onSubmit()">
        Sign in
    </button>
 
  <!-- </form> -->
  <p>
    New to VeriSail? <a routerLink="/create">Click Here!</a>
  </p>
</body>
