<app-header></app-header>
<div class="jumbotron">
    <h1 class="display-4">
        Welcome to VeriSail!
        <img id="image"src="../../assets/images/ILCA.png" alt="">
    </h1>
    <p class="lead">What are we about?</p>
    <hr class="my-4">
    <ul>
        <li>An innovative service to  verify authorized components at sailing events
        </li>
        <li>A Cloud-based service for global deployment and access
        </li>
        <li>Ensures parts in events are from authorized manufacturers
        </li>
    </ul>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" routerLink="/Forms"role="button" >Click here for Forms
    </a>
    <img id="image2"src="../../assets/images/CheckMateApps.png" alt="" width=15%>
  </div>
<app-footer></app-footer>