<body>


    <div class="container-fluid">
        <!-- <div class="row"> -->
        <!-- App-admin-nav will need this class for it to function correctly -->


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-6">
            <h1 mat-dialog-content>Create Manufacturer</h1>
            <!-- </form>   -->
            <form [formGroup]="myForm">
                Value: {{myForm.value | json}}
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <!-- <mat-form-field>
                                <input matInput placeholder="manufacturer ID" formControlName="manufacturerID">

                                <mat-error *ngIf="manufacturerID.touched">
                                    Required field
                                </mat-error>
                            </mat-form-field> -->
                            <mat-form-field>
                                <input matInput placeholder="Manufacturer name" formControlName="manuName">
                                <mat-error *ngIf="manuName.touched">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="street" formControlName="street">
                                <mat-error *ngIf="street.touched">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="city" formControlName="city">
                                <mat-error *ngIf="city.touched">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let state of stateArray" [value]="state">{{state}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="state.touched">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Zip Code" formControlName="zip">
                                <mat-error *ngIf="zip.touched">
                                    Required field. Please use your five digit Zip-Code
                                </mat-error>
                                <mat-hint align="end">Only five digit Zip-Codes allowed</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" [disabled]="myForm.invalid" color="primary"
                    (click)="submitData()">Submit</button>
                <button mat-raised-button class="btn btn-light"(click)="closeForm()" id="close">No thanks</button>
                <hr>
            </form>
        </main>
        <!-- </div> -->
    </div>
</body>