input {
	color: black;
}
mat-form-field {
	margin: .3vw;
}
#edit {
	height: fit-content;
	width: fit-content;
}
td {
	padding-top: .5vw;
	margin: auto;
	border-style: groove;
	border-top: groove;
}
@media (max-width: 1000px) {
	main {
		margin-right: 1vw;
	}
}
@media (min-width: 1200px) {
	main {
		margin-right: 3.9vw;
	}
}
