<body>
    <div class="row">
        <div class="col">
            <p>
                <strong>Welcome to ILCA Registration!</strong>

            </p>
        </div>
        <div class="col">
            <img src="../../../assets/images/ILCA.png" alt="">
        </div> <!-- End of col Div -->
    </div> <!-- End of Row Div -->

    <!-- <form id="grid"> -->
        <!-- <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name">
            </div> 
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div> 
        </div> 
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Type of User</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Administrator</option>
                <option>Distributor</option>
                <option>ILCA Management</option>
                <option>Manufacturer</option>
                <option>Unknown</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Additional Comments</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
    <form [formGroup]="myForm">
        <hr>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field  class="halfwidth" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="" formControlName="firstName">

                        <mat-error *ngIf="firstName.touched">
                            Required field
                        </mat-error> 
                    </mat-form-field> 
                    <mat-form-field class="halfwidth" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="" formControlName="lastName">
                    
                         <mat-error *ngIf="lastName.touched">
                                                Required field
                                            </mat-error> 
                    </mat-form-field>
                    <mat-form-field class="fullwidth" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input matInput placeholder="example@example.com" formControlName="email">
                    
                        <mat-error *ngIf="email.touched">
                            Must be a valid email address
                          </mat-error> 
                    </mat-form-field>
                    <mat-form-field class="fullwidth" appearance="outline" >
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="" formControlName="password">
                    
                       <mat-error *ngIf="password.touched">
                        Required field                         
                     </mat-error> 
                    </mat-form-field>
                
                    <mat-form-field class="halfwidth" appearance="outline">
                        <mat-label>Type of User</mat-label>
                        <mat-select formControlName ="typeID">
                            <mat-option>-- None --</mat-option>
                            <mat-option value="Manufacturer">Manufacturer</mat-option>
                            <mat-option value="Distributor">Distributor</mat-option>
                            <mat-option value="Boat Owners">Boat Owners</mat-option>
                            <mat-option value="ILCA">ILCA</mat-option>
                            <mat-option value="Retailer">Retailers</mat-option>
                        </mat-select>
                        <mat-error *ngIf="typeID.touched">
                            Required field
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="halfwidth" appearance="outline" *ngIf="myForm.value.typeID == 'Manufacturer' ">
                        <mat-label>Manufacturer Names</mat-label>
                        <mat-select formControlName="theType"> 
                            <mat-option value=''>-- None --</mat-option>
                            <mat-option *ngFor = "let man of manu" [value] = "man.manuName">
                                {{man.manuName}}
                            </mat-option>
                            
                        </mat-select>
                        
                    </mat-form-field>

                    <mat-form-field class="halfwidth" appearance="outline"
                        *ngIf="myForm.value.typeID == 'Distributor'">
                        <mat-label>Distributor Names</mat-label>
                        <mat-select formControlName="theType">
                            <mat-option value=''>-- None --</mat-option>
                            <mat-option *ngFor="let d of dis" [value]="d.distName">
                                {{d.distName}}
                            </mat-option>
                    
                        </mat-select>
                    
                    </mat-form-field>

                    <mat-form-field class="halfwidth" appearance="outline" *ngIf="myForm.value.typeID == 'Boat Owners'">
                        <mat-label>Boat Owners</mat-label>
                        <mat-select formControlName="theType">
                            <mat-option value=''>-- None --</mat-option>
                            <mat-option *ngFor="let owners of boatOwners" [value]="owners.fName + ' ' + owners.lName">
                                {{owners.fName + " "+ owners.lName}}
                            </mat-option>
                        </mat-select>    
                    </mat-form-field>

                    <mat-form-field class="halfwidth" appearance="outline" *ngIf="myForm.value.typeID == 'Retailer'">
                        <mat-label>Retailer Names</mat-label>
                        <mat-select formControlName="theType">
                            <mat-option value=''>-- None --</mat-option>
                            <mat-option *ngFor="let retail of retailers" [value]="retail.retailName">
                                {{retail.retailName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class = "halfwidth1">
                        <button (click)="onSubmit()" [disabled]="myForm.invalid" class="btn btn-success">
                            Create Account
                        </button> 
                        <a id="moveRight"routerLink="/signin">
                            Go Back
                        </a>
                    </div>
                </div>
                
            </div>

        </div>

       
    </form>

    <!-- <div class="container"> -->


    <!-- </div> -->
    
</body>