<body>
    <app-admin-header></app-admin-header>
    <app-admin-nav></app-admin-nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Hello, ! Welcome to VeriSail</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8 container-fluid">
            <mat-table [dataSource]="listData" matSort>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row> -->

                <ng-container matColumnDef="Options">
                    <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="onEdit(row)">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(row.manufacturerID)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="manufacturerID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>manufacturer ID</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.manufacturerID}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="manuName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>manuName</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.manuName}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="street">
                    <mat-header-cell *matHeaderCellDef>street</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.street}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>city</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.city}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef>state</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.state}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="zip">
                    <mat-header-cell *matHeaderCellDef>zip</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.zip}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="userID">
                    <mat-header-cell *matHeaderCellDef>userID</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.userID}}</mat-header-cell>
                </ng-container>
            </mat-table>

        </div>
    </main>
</body>
<!-- manufacturerID', 'manuName', 'street', 'city', 'state', 'zip', 'userID -->