footer{
    clear: both; 
    border: 1px solid;
    text-align: center;
    background-color: rgb(235, 230, 230);
    margin-top: 5vw;
}
#top {
    cursor: pointer;
}
#top:hover {
    text-decoration: underline;
    color: black;
}
#top:active {
    text-decoration: underline;
    color: black;
}
